<template>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <span class="navbar-brand" style="margin:auto"> <span class="push">Yannick</span> <span class="ret">Herrero</span></span>
</nav>
</template>

<style scoped>

@import url('https://fonts.googleapis.com/css?family=Poppins:500, 900');

  .navbar-brand {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
  }

  .push {
    background: #fff;
    padding: 5px;
    font-weight: 900;
    color: #343a40;
    margin-right: 5px;
  }

  .navbar-brand:hover .push {
    background: transparent;
    color: #fff;
    padding: 0;
    font-weight: 500;
  }

  .navbar-brand:hover .ret {
    background: #fff;
    padding: 5px;
    font-weight: 900;
    color: #343a40;
  }

</style>

