<template>
  <div class="infos-container">
    <div class="inner-container">
      <h1>About me</h1>
      <br>
      <img src="../assets/me.jpg" alt="Yannick Herrero">
      <div class="name">
        Yannick Herrero
      </div>
      <div class="job">
        Fullstack Javascript Developer
      </div>
      <div class="links">
        <a href="https://www.linkedin.com/in/yannickherrero/" target="blanc">
          <i class="fab fa-linkedin">
            </i><span class="link-title">linkedin</span>
        </a>
        <a href="https://www.web-buddy.fr/" target="blanc">
          <i class="fas fa-link"></i>
          <span class="link-title">web-buddy</span>
        </a>
        <a href="https://yannick-herrero.me/" target="blanc">
          <i class="fas fa-id-card"></i>
          <span class="link-title">yannick-herrero</span>
        </a>
      </div>
    </div>
  </div>
</template>

<style scoped>

.infos-container {
  background: #fafafa;
  text-align: center;
  padding: 40px;
  color: #333;
}

.inner-container {
  padding: 40px;
  transition: .3s;
}

.inner-container:hover {
  background: #eaeaea;
}

h1 {
  font-size: 24px;
  border-bottom: 4px solid;
  padding-bottom: 10px;
  display: inline-block;
}

img {
  width: 230px;
  height: 230px;
  margin: 10px 0;
}

.name {
  margin: 16px 0;
  font-size: 17px;
  text-transform: uppercase;
}

.job {
  font-style: italic;
  opacity: .5;
}

.links {
  margin-top: 12px;
}

.links a {
  margin: 0 4px;
  display: inline-block;
  font-size: 17px;
  width: 30px;
  height: 30px;
  transition: .3s;
}

.links a:hover {
  transform: scale(1.3);
}

.links a i {
  color: #333;
  line-height: 30px;
}

.link-title {
  opacity: 0;
  position: absolute;
}

</style>
