<template>
  <div class="works container mt-5">
    <Work
      v-for="(work, index) in works"
      :key="index"
      :work="work" />
  </div>
</template>

<script>
import works from './works-arr'
import Work from './Work'
export default {
  data() {
    return {
      works
    }
  },
  components: {
    Work
  }
}
</script>

<style>

  @media screen and (min-width: 1200px) {

    .works {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 2rem;
    }

  }

</style>
