<template>
  <div class="jumbotron">
  <h1 class="display-5">{{ work.title }}</h1>
  <p class="lead">{{ work.desc }}</p>
  <hr class="my-4">
  <p>{{ work.date }}</p>
  <div class="logos">
    <i 
      v-for="tag in work.tags"
      :key="tag"
      :class="icons[tag].icon" 
      :title="icons[tag].title"></i>
  </div>
  <p class="lead">
    <a class="btn btn-primary" target="blanc" :href="work.link" role="button">
      Learn more
      <span class="link-title">{{ work.title }}</span>
    </a>
  </p>
</div>
</template>

<script>
import icons from './icons'
export default {
  props: ['work'],
  data() {
    return {
      icons
    }
  }
}
</script>


<style scoped>

  .jumbotron {
    padding: 3rem 2rem;
    position: relative;
  }

  .logos {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .logos i {
    font-size: 24px;
    color: #333;
    opacity: .5;
    transition: opacity .3s;
    margin-right: 10px;
  }

  .logos i:hover {
    opacity: 1;
  }

  .link-title {
    opacity: 0;
    position: absolute;
  }

</style>
