<template>
  <div id="app">
    <Header />
    <Infos />
    <Works />
  </div>
</template>

<script>
import Header from './components/Header'
import Infos from './components/Infos'
import Works from './components/Works'
export default {
  components: {
    Header,
    Infos,
    Works
  }
}
</script>

<style>

  .btn:hover {
    background: #555;
  }

</style>
